[Desktop Entry]
Comment=Aurorae theme that mimics Yosemite window decoration, with Equilux colors. Based on Yosemite v0.1
Name=Equilux
X-KDE-PluginInfo-Author=UNC
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=win32-blackghost@hotmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=Equilux
X-KDE-PluginInfo-Version=0.3.0
